*.aux
*.fls
*.log
*.dpth
*.md5
*.blg
*.dvi
*.synctex.gz
*.auxlock
*.fdb_latexmk
*.out
*.bcf
*.run.xml
*.fmt
*.nav
*.toc
*.snm

.vscode
.latexmk
*.thm
latexmkrc
**/ISMseminar
**/shrunksubspace
**/todai